//Variables
$header-color: #477363;
$h-font: 'Darker Grotesque', sans-serif;
$text-font: calibri, sans-serif; 




//mobile first
.content-container {
    width:95%;  
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    height: 40%;
    width: 100%;
    background: $header-color;
    color: white;
    
    nav {
        font-family: $h-font;
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
        
        a {
            text-decoration: none;
            color: white;
            font-size: 100%;//justera detta senare...
            padding: 3%;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;//marginal på sidorna & botten


    h1, h2, h3, h4{
        font-family: $h-font;
    }

    p {
        font-family:  $text-font;
    }

    .profile-container {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        width: 100%;
        height: 50%; //detta krävs för att kunna göra linjen
        margin-top: 10%;

        .image-container {
            width: 40%;
            display: flex;
            margin-right: 5%;
    
            img {
                width: 100%;
                height: auto; 
                object-fit: contain;
                border-radius: 50%;//oval bild
            }
        }

        
        .headline-container {
            width: 60%;
            height: auto;
            font-size: 110%;
            line-height: 110%;//justera detta senare så texten ser bra ut
            text-align: center;

            h1{
                font-size: 200%;
            }

            h2 {
                font-size: 150%;
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    Q {
        font-style: italic;
        font-weight: bold;
    }
    
    .tldr {
        line-height: 50%;

        h3 {
            font-size: 180%;
        }

        p {
            font-size: 120%;
            line-height: 100%;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }

    div {
        line-height: 130%;

        
    }

    .internship {
        h4 {
            font-size: 180%;
        }

    }

}



footer {
    height: 30%;
    width: 100%;
    background: $header-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .linkedin-github {
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }
    a {
        font-family: $h-font;
        text-decoration: none;
        color: white;
        padding: 3%;
    }
}



//Tablet 768px

//Desktop 1200px