//Variables
$accent-color: #477363;
$h-font: 'Darker Grotesque', sans-serif;
$text-font: calibri, sans-serif; 

//mixins
@mixin skill-bar-setting {
    height: 20px;
    background: $accent-color;
}
// @include skill-bar-setting

@mixin flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
//@include flex-row-end;



//mobile first - gemensam styling för alla sidor
.content-container {
    width:95%;  
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a {
    font-family: $text-font;
    text-decoration: none;
    color: black;
}

header {
    height: 40%;
    width: 100%;
    background: $accent-color;
    color: white;
    
    nav {
        font-family: $h-font;
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
        
        a {
            text-decoration: none;
            color: white;
            font-size: 100%;//justera detta senare...
            padding: 3%;
        }
    }
}

footer {
    height: 30%;
    width: 100%;
    background: $accent-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .linkedin-github {
        width: 100%;
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }
    a {
        font-family: $h-font;
        text-decoration: none;
        color: white;
        padding: 3%;
    }
}


//styling för hem
main {
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;//marginal på sidorna & botten


    h1, h2, h3, h4{
        font-family: $h-font;
    }

    p {
        font-family:  $text-font;
    }

    .profile-container {
        display: flex;
        flex-direction: row;
        //align-items: space-between;
        justify-content: center;
        width: 100%;
        margin: 8% 0%;
        border-bottom: solid 1px black;


        .image-container {
            width: 50%;
            height: auto;
            display: flex;
            align-items: center;//centrerar bilden 
    
            img {
                width: 100%;
                height: auto; 
                object-fit: contain;
                border-radius: 50%;//oval bild
            }
        }

        
        .headline-container {
            width: 60%;
            height: auto;
            margin-left: 5%;
            font-size: 110%;
            line-height: 50%;//justera detta senare så texten ser bra ut
            text-align: center;

            h1{
                font-size: 200%;
                line-height: 110%;
            }

            h2 {
                font-size: 130%;
                line-height: 80%;
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    Q {
        font-style: italic;
        font-weight: bold;
    }
    
    .tldr {
        line-height: 50%;

        h3 {
            font-size: 200%;
        }

        p {
            font-size: 130%;
            line-height: 100%;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }

    div {
        line-height: 130%;

        
    }

    .internship {
        h4 {
            font-size: 180%;
        }

    }

}


//Mobile first Styling för cv
.software-skills {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    .wrapper1 {
        width: 40%;
    }

    .wrapper2 {
        width: 40%;
    }


    .outer-skill{
        width: 100px;
        height: 20px;
        background: lightgray;
    
        .inner-skill.vsc {
            @include skill-bar-setting;
            width: 90%;
        }

        .inner-skill.git {
            @include skill-bar-setting;
            width: 65%;
        }

        .inner-skill.figma {
            @include skill-bar-setting;
            width: 80%;
        }

        .inner-skill.xd {
            @include skill-bar-setting;
            width: 80%;
        }

        .inner-skill.ps{
            @include skill-bar-setting;
            width: 70%;
        }

        .inner-skill.ai {
            @include skill-bar-setting;
            width: 50%;
        }
    }
}

.code {

    display: flex;
    flex-direction: column;

    .code-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .text-skills {
            .js {
                background: rgb(255,255,255);
                background: linear-gradient(97deg, rgba(255,255,255,0.8832575266434699) 0%, rgba(247,223,30,1) 100%, rgba(244,241,241,1) 100%);
            }

            .html {
                background: rgb(255,255,255);
                background: linear-gradient(97deg, rgba(255,255,255,0.8832575266434699) 0%, rgba(242,103,46,1) 100%, rgba(244,241,241,1) 100%);
            }

            .css {
                background: rgb(255,255,255);
                background: linear-gradient(97deg, rgba(255,255,255,0.8832575266434699) 0%, rgba(12,115,184,1) 100%, rgba(244,241,241,1) 100%);
            }

            .scss {
                background: rgb(255,255,255);
                background: linear-gradient(97deg, rgba(255,255,255,0.8832575266434699) 0%, rgba(48,169,221,1) 100%, rgba(244,241,241,1) 100%);
            }
            .c-sharp {
                background: rgb(255,255,255);
                background: linear-gradient(97deg, rgba(255,255,255,0.8832575266434699) 0%, rgba(71,115,99,1) 100%, rgba(244,241,241,1) 100%);
            }
        }
    }
    .pie-chart {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
        //C#: grön
        //JS: #f7df1e från javascript logo
        //HTML: orange #f2672e #e65127
        //CSS: mörkare blå
        //SCSS: ljusare blå
    
        background: conic-gradient($accent-color 0.00% 2.5%, #e6a327 2.5% 33.3%, #f2672e 33.3% 66.6%, #0c73b8 66.6% 83.3%, #30a9dd 83.3% 100%);
    }
}




//Tablet, medium screen 768px
@media only screen and (min-width: 768px) {
     //detta stylear bara headern på index-sidan. varför?
    header {
        nav {
            a {
                font-size: 200%;
            }
        }
    }

    footer {
        a{
            font-size: 200%;
            padding: 3% 0% 0% 0%;
        }

        .linkedin-github, .tablet {
            width: 75%;
            padding-top: 2%;
        }

        padding-bottom: 5%;
    }

    //tablet hem
    .profile-container {
        display: flex;

        .image-container {
            margin-bottom: 5%;
        }

        .headline-container {
            display: flex;
            flex-direction: column;
            align-items: center;//positionera texten

            h1.tablet {
                font-size: 400%;
            }

            h2.tablet {
                font-size: 200%;
                line-height: 50%;
            }
            
        }
    }

    //textsektion om mig
    .about-me {
        display: flex;
        flex-direction: column;

        .tldr {
            font-size: 150%;
            padding: 0% 5%;
        }
        
        .textblock1-wrapper{
            @include flex-row-end;
            align-items: center;
        }

        .textblock2-wrapper {
            @include flex-row-end;
            align-items: flex-start;
        }

        //stylear alla 3 textblocken
        .textblock {
           font-size: 170%;
           line-height: 120%;
            width: 75%;
        }

        .quote {
            width: 25%;
            height: 30%;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            padding: 3%;
            margin: 8% 0% 5% 5%;
            font-size: 150%;
        }
    }
    
    //praktikdelen
    .textblock.internship {
        width: 100%;

        h4.tablet {
            font-size: 200%;
        }
    }


    //tablet cv

    .cv-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            width: 100%;
            border: solid 1px red;
        }
    
        aside {
            width: 100%;
            border: solid 1px red;
        }

        //bestäm % på rubriker och text för alla sidor 
        //centrera mer?
        //lägg till fäll ut-lista på utbildning
        //kolla vad som är grejen med header och footer


    }
   



}

//Desktop 
//@media only screen and (min-width: 992px) {...}