//Gemensam styling för header, footer & main 

//Mobile first
body {
    margin: 0;
    @include flex-column;
    align-items: center;
}

//det här wrappar alltihop, inkl header & footer
.content-wrapper {
    width: 100%;  
    margin: -2px;
    @include flex-column;

    //font och decoration för länkar i header & footer
    a {
        font-family: $text-font;
        text-decoration: none;
        color: white;
        padding: 3%;
        font-size: 100%;
    }

    header {
        height: 40%;
        width: 100%;
        margin: auto;
        background: $accent-color;
        color: white;
        
        nav {
            @include flex-row;
            justify-content: space-evenly;
        }
    }

    main {
        @include flex-column;
        margin: 0% 10% 10% 10%;//marginal på sidorna & botten
    
        h1, h2, h3, h4{
            font-family: $h-font;
        }
    
        p {
            font-family:  $text-font;
        }
    }
    
    footer {
        height: 30%;
        width: 100%;
        background: $accent-color;
        color: white;
        @include flex-column;
        justify-content: center;
        align-items: center;
        
        .linkedin-github {
            width: 100%;
            @include flex-row;
            justify-content: space-evenly;
        }
    }
}

//Tablet
@media only screen and (min-width: 768px) {
    header {
        .tablet-nav {
            a {
                font-size: 200%;
            }
        }
    }
        
    footer {
        padding-bottom: 5%;
        .a-tablet {
            font-size: 200%;
            padding: 4% 0% 0% 0%;
        }
      
        .linkedin-github, .tablet {
            width: 75%;
        }
    }
}


//Desktop
@media (min-width: 992px) { 
     

    header {
        
        .desktop-nav {
            a {
                font-size: 130%;
                padding: 2% 0%;
            }

            a:hover {
                @include hover-effect;
            }
        }
    }
    
    
    footer.desktop-footer {
        @include flex-row;
        align-items: center;
        justify-content: center;
        padding: 2% 0%;
        
        .a-desktop {
            font-size: 130%;
            margin: 0;
            padding: 0;
        }
        .a-desktop:hover {
            @include hover-effect;
        }

        .linkedin-github.desktop{
            width: 20%;
        }
    }

    body {
        @include flex-column;

        .content-wrapper {
            display: flex;
            align-items: center;
        }
    
        main {
            width: 50%;
        }
    }



}