
.main-cases {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
  
    .about-cases {
        a{
            color: black; 
            text-decoration: underline;
            padding: 0;
        }

        h2 {
            font-size: medium;
        }

    }

    .mothsvg {
        width: 30%;
        height: auto;    
    }


    .gh-grid{
        display: flex;
        text-align: left;
     
        .gh-details{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
     
            a {
                 color: black;
                 text-decoration: underline;
                 font-style: normal;
             }
             li {
                 font-family: $text-font;
                 margin-bottom: 1em;
                 font-style: italic;
                 list-style-type:decimal-leading-zero;
             }
        }    
     }
}





@media only screen and (min-width: 768px) {
    .main-cases{
        font-size: 150%;

        .about-cases h2{
            font-size: large;
        }
       
    }
}

@media only screen and(min-width: 992px){
    .main-cases{ 
        h1 {
            padding-top: 5%;
        }
        font-size: 110%;
        .about-cases h2 {
            font-size: large;
        }
        .mothsvg{
            width: 50%;
            padding: 0;
            margin:0;
        }
        .gh-grid{
            .gh-details{
                width: 35em;
                a {
                     font-size: larger;
                }
                 
            }    
         }
    }
}

