
.main-cases {
   
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
  

    .about-cases {
        a{
            color: black; 
            text-decoration: underline;
            padding: 0;
        }

        h2 {
            font-size: medium;
        }

    }

    .mothsvg {
        width: 30%;
        height: auto;    
    }
}



@media only screen and (min-width: 768px) {
    .main-cases{
        font-size: 150%;

        .about-cases h2{
            font-size: larger;
        }
       
    }
}

@media only screen and(min-width: 992px){
    .main-cases{ 
        h1 {
            padding-top: 5%;
        }
        font-size: 110%;
        .about-cases h2 {
            font-size: large;
        }
        .mothsvg{
            width: 50%;
            padding: 0;
            margin:0;
        }
    }
}

