// //CV
//Mobile first 
.software-skills {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 10%;

    .wrapper1 {
        width: 40%;
        height: auto;
    }

    .wrapper2 {
        width: 40%;
        height: auto;
    }

    .outer-skill{
        width: 100px;
        height: 20px;
        background: lightgray;
    
        .inner-skill.vsc {
            @include skill-bar-setting;
            width: 90%;
        }

        .inner-skill.git {
            @include skill-bar-setting;
            width: 65%;
        }

        .inner-skill.figma {
            @include skill-bar-setting;
            width: 80%;
        }

        .inner-skill.xd {
            @include skill-bar-setting;
            width: 80%;
        }

        .inner-skill.ps{
            @include skill-bar-setting;
            width: 70%;
        }

        .inner-skill.ai {
            @include skill-bar-setting;
            width: 50%;
        }
    }
}


.experience {
    margin-bottom: 5%;
    .italic {
        font-style: italic;
    }
}


.code  {
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0; 

    ul {
        font-family: $text-font;
    }
}

.sidequests{
    a{
        color: black; 
        text-decoration: underline;
        padding: 1%;
    }
}

//TABLET CV
@media only screen and (min-width: 768px) {
    .cv-main {
        @include flex-column;
        align-items: center;
        font-size: 150%;

        section {
            width: 100%;
            display: flex;

            .education {
                margin-bottom: 5%;
            }

            .software {
                padding: 0% 5% 5% 5%;
                
                .software-skills {
                    @include flex-row;
                    justify-content: space-between;

                    .wrapper1 {
                        width: 60%;
                    }

                    .wrapper2 {
                        width: 40%;
                    }
                }
            }
        }
    }
}

//Desktop
@media only screen and(min-width: 992px){

        .cv-main{
            font-size: 110%;
            width: 50%;
            display: flex;
            h1 {
                padding-top: 5%;
            }
 
            .skillwrapper {
                display: flex;
                flex-direction: row;

                .skills {
                   word-wrap: break-word;
                   overflow: auto;
                   

                    h4{
                        padding-left: 5%;
                    }
                }

                .skills.html {
                    border-right: solid 1px black;
                    border-left: solid 1px black;
                    margin-left: 2%;
                    margin-right: 2%;
                    padding: 0% 2%;
                }

                .skills.js {
                    padding-right: 2%;
                }
            }


            .sidequests {
                margin-top: 10%;
                padding-top: 10%;
                a:hover {
                    color: $accent-color;
                }

                h4{
                    margin: 0;
                }
                border-top: solid 1px black;
            }
        }
}