// //HEM
// //Mobile first
.homepage {
    .profile-container {
        @include flex-row;
        justify-content: center;
        width: 100%;
        margin: 8% 0%;
        padding-bottom: 5%;
        border-bottom: solid 1px black;
        
    
        .image-container {
            width: 50%;
            height: auto;
            display: flex;
            align-items: center;
    
             img {
                width: 100%;
                height: auto; 
                object-fit: contain;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            }
        }
        
        .headline-container {
            width: 60%;
            height: auto;
            margin-left: 5%;
            font-size: 110%;
            line-height: 50%;
            text-align: center;

            h1{
                font-size: 200%;
                line-height: 110%;
            }

            h2 {
                font-size: 130%;
                line-height: normal;
            }
        }
    }
}


section {
    @include flex-column;
    justify-content: center;

    Q {
        font-style: italic;
        font-weight: bold;
    }
        
    
    .tldr {
        line-height: 0%;
        h3 {
            font-size: 200%;
        }

        p {
            font-size: 130%;
            line-height: 100%;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }

    .internship {
        h4 {
            font-size: 180%;
        }
    }
}



//Tablet HEM
@media only screen and (min-width: 768px) {
    .profile-container {
        display: flex;

        .image-container {
            margin-bottom: 5%;
        }

        .headline-container {
            @include flex-column;
            align-items: center;//positionera texten

            h1.tablet {
                font-size: 400%;
            }

            h2.tablet {
                font-size: 200%;
                line-height: normal;
                margin:0;
            }
        }
    }

    //textsektion om mig
    .about-me {
        @include flex-column;
        align-items: center;
    
        .tldr {
            font-size: 180%;
            width: 90%;
        }
    
        //stylear alla 3 textblocken
        .textblock {
            width: 90%;
            font-size: 170%;
            line-height: 120%;
        }
    
        .quote {
            width: 80%;
            border-left: solid 4px black;
            padding: 4%;
            font-size: 180%;
        }
    }
        
        h4.tablet {
            font-size: 200%;
        }
}

//Desktop
@media (min-width: 992px){
    .homepage {
        display: flex;

        .home {
            @include flex-row;
            flex-wrap: wrap;
     
            .profile-container{
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5%;

                .image-container{
                    height: 75%;
                    padding: 0;
                    margin: 0;

                    .portraitimg {
                        height: 100%;
                        border-radius: 0;
                        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                    }
                }
               
                .headline-container {
                    height: 75%;
                    text-align: center;
                    padding: 0;
                    margin:0;

                    h1 {
                        font-size: 250%;
                        line-height: normal;
                        margin-bottom: 0;
                        margin-top: 12%;
                   
                    }

                    h2{
                        font-size: 150%;
                        line-height: normal;
                       
                    }
                }
            }
  

            
            .about-me {
                width: 100%;

                .tldr {
                    width: 100%;
                    font-size: large;
                }

                .textblock {
                    width: 100%;
                    font-size: 110%;
                }

                .textblock.internship {
                    width: 75%;
                    margin-top: 10%;
                    background-color: rgba(211, 211, 211, 0.486);
                    padding: 0% 5% 5% 5%;
                    border-radius: 5%;
    
                }

                .quote {
                    width: 100%;
                    height: 20%;
                    border-left: solid 4px black;
                    font-size: 130%;
                    margin-left:15%;
                } 
            }
        }
    }
}