//Variables
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Spartan:wght@300;400;500&display=swap');

// font-family: 'Didact Gothic', sans-serif; //används ej just nu

$accent-color: #477363;
$h-font: 'Spartan', sans-serif;
$text-font: calibri, sans-serif; 

//mixins
@mixin skill-bar-setting {
    height: 20px;
    background: $accent-color;
}
// @include skill-bar-setting

@mixin flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
//@include flex-row-end;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

//@include flex-row;

@mixin flex-column {
    display: flex; 
    flex-direction: column;
}

//@include flex-column;

@mixin hover-effect {
    color: lightgray;
    text-decoration: underline;
}

//@include hover-effect;