body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper a {
  font-family: calibri, sans-serif;
  text-decoration: none;
  color: white;
  padding: 3%;
  font-size: 100%;
}

.content-wrapper header {
  height: 40%;
  width: 100%;
  margin: auto;
  background: #477363;
  color: white;
}

.content-wrapper header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0% 10% 10% 10%;
}

.content-wrapper main h1, .content-wrapper main h2, .content-wrapper main h3, .content-wrapper main h4 {
  font-family: "Darker Grotesque", sans-serif;
}

.content-wrapper main p {
  font-family: calibri, sans-serif;
}

.content-wrapper footer {
  height: 30%;
  width: 100%;
  background: #477363;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper footer .linkedin-github {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
  header .tablet-nav a {
    font-size: 200%;
  }
  footer {
    padding-bottom: 5%;
  }
  footer .a-tablet {
    font-size: 200%;
    padding: 4% 0% 0% 0%;
  }
  footer .linkedin-github, footer .tablet {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  header .desktop-nav a {
    font-size: 130%;
    padding: 2% 0%;
  }
  header .desktop-nav a:hover {
    color: lightgray;
    text-decoration: underline;
  }
  footer.desktop-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2% 0%;
  }
  footer.desktop-footer .a-desktop {
    font-size: 130%;
    margin: 0;
    padding: 0;
  }
  footer.desktop-footer .a-desktop:hover {
    color: lightgray;
    text-decoration: underline;
  }
  footer.desktop-footer .linkedin-github.desktop {
    width: 20%;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main {
    width: 50%;
  }
}

.homepage .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 8% 0%;
  padding-bottom: 5%;
  border-bottom: solid 1px black;
}

.homepage .profile-container .image-container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .profile-container .image-container img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.homepage .profile-container .headline-container {
  width: 60%;
  height: auto;
  margin-left: 5%;
  font-size: 110%;
  line-height: 50%;
  text-align: center;
}

.homepage .profile-container .headline-container h1 {
  font-size: 200%;
  line-height: 110%;
}

.homepage .profile-container .headline-container h2 {
  font-size: 130%;
  line-height: normal;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section Q {
  font-style: italic;
  font-weight: bold;
}

section .tldr {
  line-height: 0%;
}

section .tldr h3 {
  font-size: 200%;
}

section .tldr p {
  font-size: 130%;
  line-height: 100%;
}

section .tldr a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section .internship h4 {
  font-size: 180%;
}

@media only screen and (min-width: 768px) {
  .profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile-container .image-container {
    margin-bottom: 5%;
  }
  .profile-container .headline-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-container .headline-container h1.tablet {
    font-size: 400%;
  }
  .profile-container .headline-container h2.tablet {
    font-size: 200%;
    line-height: normal;
    margin: 0;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .tldr {
    font-size: 180%;
    width: 90%;
  }
  .about-me .textblock {
    width: 90%;
    font-size: 170%;
    line-height: 120%;
  }
  .about-me .quote {
    width: 80%;
    border-left: solid 4px black;
    padding: 4%;
    font-size: 180%;
  }
  h4.tablet {
    font-size: 200%;
  }
}

@media (min-width: 992px) {
  .homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepage .home .profile-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
  .homepage .home .profile-container .image-container {
    height: 75%;
    padding: 0;
    margin: 0;
  }
  .homepage .home .profile-container .image-container .portraitimg {
    height: 100%;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .homepage .home .profile-container .headline-container {
    height: 75%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .homepage .home .profile-container .headline-container h1 {
    font-size: 250%;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 12%;
  }
  .homepage .home .profile-container .headline-container h2 {
    font-size: 150%;
    line-height: normal;
  }
  .homepage .home .about-me {
    width: 100%;
  }
  .homepage .home .about-me .tldr {
    width: 100%;
    font-size: large;
  }
  .homepage .home .about-me .textblock {
    width: 100%;
    font-size: 110%;
  }
  .homepage .home .about-me .textblock.internship {
    width: 75%;
    margin-top: 10%;
    background-color: rgba(211, 211, 211, 0.486);
    padding: 0% 5% 5% 5%;
    border-radius: 5%;
  }
  .homepage .home .about-me .quote {
    width: 100%;
    height: 20%;
    border-left: solid 4px black;
    font-size: 130%;
    margin-left: 15%;
  }
}

.software-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.software-skills .wrapper1 {
  width: 40%;
  height: auto;
}

.software-skills .wrapper2 {
  width: 40%;
  height: auto;
}

.software-skills .outer-skill {
  width: 100px;
  height: 20px;
  background: lightgray;
}

.software-skills .outer-skill .inner-skill.vsc {
  height: 20px;
  background: #477363;
  width: 90%;
}

.software-skills .outer-skill .inner-skill.git {
  height: 20px;
  background: #477363;
  width: 65%;
}

.software-skills .outer-skill .inner-skill.figma {
  height: 20px;
  background: #477363;
  width: 80%;
}

.software-skills .outer-skill .inner-skill.xd {
  height: 20px;
  background: #477363;
  width: 80%;
}

.software-skills .outer-skill .inner-skill.ps {
  height: 20px;
  background: #477363;
  width: 70%;
}

.software-skills .outer-skill .inner-skill.ai {
  height: 20px;
  background: #477363;
  width: 50%;
}

.experience {
  margin-bottom: 5%;
}

.experience .italic {
  font-style: italic;
}

.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
}

.code ul {
  font-family: calibri, sans-serif;
}

.sidequests a {
  color: black;
  text-decoration: underline;
  padding: 1%;
}

@media only screen and (min-width: 768px) {
  .cv-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 150%;
  }
  .cv-main section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cv-main section .education {
    margin-bottom: 5%;
  }
  .cv-main section .software {
    padding: 0% 5% 5% 5%;
  }
  .cv-main section .software .software-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cv-main section .software .software-skills .wrapper1 {
    width: 60%;
  }
  .cv-main section .software .software-skills .wrapper2 {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .cv-main {
    font-size: 110%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cv-main h1 {
    padding-top: 5%;
  }
  .cv-main .skillwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cv-main .skillwrapper .skills {
    padding: 0;
    margin: 0;
  }
  .cv-main .skillwrapper .skills h4 {
    padding-left: 5%;
  }
  .cv-main .skillwrapper .skills.html {
    border-right: solid 1px black;
    border-left: solid 1px black;
  }
  .cv-main .sidequests {
    margin-top: 10%;
    padding-top: 10%;
    border-top: solid 1px black;
  }
  .cv-main .sidequests a:hover {
    color: #477363;
  }
  .cv-main .sidequests h4 {
    margin: 0;
  }
}

.main-cases {
  height: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-cases .about-cases a {
  color: black;
  text-decoration: underline;
  padding: 0;
}

.main-cases .mothsvg {
  width: 30%;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

@media only screen and (min-width: 992px) {
  .main-cases {
    height: 300px;
  }
  .main-cases .mothsvg {
    position: relative;
    left: 650px;
  }
}
/*# sourceMappingURL=style.css.map */